@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(29, 27, 54);
}

.drumkit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
  width: 100%;
  height: 100%;
}
.drumkit button {
  color: #fff;
  width: 180px;
  height: 180px;
  border-radius: 5px;
  font-size: 30px;
  background-color: inherit;
}
.drumkit button:active {
  transform: scale(1.2);
}

.drumkit-kick {
  border: 1px solid #03f7ff;
}
.drumkit-kick:hover {
  background-color: #03f7ff;
  border: 1px solid #03f7ff;
  box-shadow: 10px 10px 80px 6px #03f7ff;
  transition: 0.1s;
}

.drumkit-snare {
  border: 1px solid #00ff22;
}
.drumkit-snare:hover {
  background-color: #00ff22;
  border: 1px solid #00ff22;
  box-shadow: 10px 10px 80px 6px #00ff22;
  transition: 0.1s;
}

.drumkit-hi-hat {
  border: 1px solid #f038ff;
}
.drumkit-hi-hat:hover {
  background-color: #f038ff;
  color: #fff;
  border: 1px solid #f038ff;
  box-shadow: 10px 10px 80px 6px #f038ff;
  transition: 0.1s;
}